// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
  background-color: #1c1c1c;
}

.card {
  background-color: #1c1c1c;
}

.hero-section {
  background-image: url('../img/jumbotron.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  width: 100vw;
  height: 25vh;
}

.nav-link:hover {
  color: rgb(55, 158, 255);
}

.badge {
  background-color: rgb(55, 158, 255);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0;
  position: relative;
  top: -20px;
  left: 60px;
}

.btn-load {
    background-color: rgb(55, 158, 255);
  color: white;
  font-size: 1.3rem;
  border-radius: 0;
}

.links-section {
  background-color: rgb(55, 158, 255);
}